/CompanyHeader.jasper
/Rpt_BCQuanTriGiaThanhSURIMICongChiPhi.jasper
/Rpt_BCQuanTriGiaThanhSURIMILaiGop1Kg.jasper
/Rpt_BCQuanTriGiaThanhSURIMIThuPhanPhoDauXuong.jasper
/Rpt_BCQuanTriGiaThanhSURIMIThuongDaTruPhuPham.jasper
/Sub_chiphi_nguyenlieu.jasper
/Sub_chiphisx.jasper
/Sub_giathanh_datrupp.jasper
/Sub_hieuqua.jasper
/Sub_thuhoiphupham.jasper
